#gradient-canvas {
  filter: blur(50px);
  overflow-y: hidden;
  width: 100vw;
  min-height: 100vh;

  --gradient-color-1: #000000; /* black background */

  /* PURPLE GRADIENT */
  /*
  --gradient-color-2: #57268f;
  --gradient-color-3: rgb(35, 44, 75);
  --gradient-color-4: #000000;
  */

  /* RGB v1 */
  /*
  --gradient-color-2: #ff002b;
  --gradient-color-3: #00cc3d;
  --gradient-color-4: #003feb;
  */

  /* RGB v2 */
  --gradient-color-2: #bd0029;
  --gradient-color-3: #006633; 
  --gradient-color-4: #003399;

  z-index: -1;
  position: fixed;
  scale: 1.8;
  filter: blur(50px);
}

#gradient-canvas {
  opacity: 1;
}