@font-face {
    font-family: 'D-DIN-Bold';
    src: url('../fonts/D-DIN-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'D-DIN-Italic';
    src: url('../fonts/D-DIN-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}